/* =====================================================
  Project
===================================================== */

/* home-mv
----------------------------------------- */
@use "../setting/setting" as set;
@use "../function/responsive" as res;
@use "../function/rem";

.p-home__mv {
  position: relative;
  display: flex;
  justify-content: center;
  height: 635px;
  padding-right: 5.6%;
  margin-top: 100px;
  overflow: hidden;
  background-repeat: no-repeat;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 82.8%;
    content: '';
    background-color: #fff;
    @include res.responsive(lg) {
      height: 75.4%;
    }
  }
  &::after {
    position: absolute;
    top: 26.5%;
    display: none;
    font-family: set.$font-family-english;
    font-size: 12px;
    color: #2e1c0e;
    content: '© AWESOME COSME';
    transform: rotateZ(90deg);
    @include res.responsive(lg) {
      right: rem.rem(-30);
      display: block;
      line-height: 1;
    }
    @include res.responsive(xl) {
      right: rem.rem(-25);
      display: block;
      line-height: 1;
    }
  }

  @include res.responsive(sm) {
    height: 59vw;
  }

  @include res.responsive(lg) {
    height: 800px;
    margin-top: rem.rem(166);
  }
}

.p-home__mv__img {
  width: 100%;
  transition: 5s ease-out;
  transform: scale(1.1);
  transform-origin: center top;
}

.p-home__slider {
  width: 100%;
  .slick-active {
    .p-home__mv__img {
      transform: scale(1);
    }
  }
}

.p-home__mv__textWrap {
  position: absolute;
  bottom: 12.5%;
  padding-left: 5.5%;
  text-align: left;
  @include res.sp {
    bottom: 23.5%;
  }
  @include res.responsive(sm) {
    bottom: 24%;
    left: 0;
    width: 80%;
    padding-left: 4%;
  }
  @include res.responsive(md) {
    width: 100%;
  }
  @include res.lg {
    padding-bottom: rem.rem(180);
    padding-left: rem.rem(60);
  }
  @include res.responsive(lg) {
    bottom: 12.5%;
    padding-right: rem.rem(320);
    padding-bottom: rem.rem(145);
    padding-left: rem.rem(134);
  }
}

.p-home__mv__catchTitle {
  margin-bottom: 3px;
  font-family: set.$font-family-english;
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  color: #2d1b0e;
  @include res.responsive(lg) {
    margin-bottom: 0;
    font-size: 67px;
    line-height: 1;
  }
  &.fadeup {
    &.is-animated {
      animation: fadeup 12s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
    }
  }
}

.p-home__mv__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.85;
  color: #2d1b0e;
  letter-spacing: 0.05em;
  @include res.responsive(lg) {
    font-size: 15px;
    line-height: 1.6;
  }
  &.fadeup {
    &.is-animated {
      animation: fadeup 13s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
    }
  }
}

@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
