/*
loading
----------------------------------------- */
@use "../setting/setting" as set;
@use "../function/responsive" as res;
@use "../function/rem";

#p-loading {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  color: #2d1b0e;
  text-align: center;
  background: #fff;
}

#p-loading__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
